# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=studynotion123

# MongoDB connection string for connecting to the database
MONGODB_URL=mongodb+srv://admin:Siddhant%402812@studynotion.btkdrdu.mongodb.net/studynotion?retryWrites=true&w=majority

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=

RAZORPAY_KEY=rzp_test_123456
RAZORPAY_SECRET=abc123